* {
        box-sizing: border-box;
}

body {
        background-color: #efcd0e;
        background-size: 10%;
        margin: 0px;
}

#patron-estrellas {
        margin: 0px;
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/estrellas.svg');
        position: absolute;
        background-size: 10%;
        opacity: 30%;
        animation: mover-fondo 90s linear infinite;
        z-index: -1;
}

#tablero {
        background: rgba(255, 255, 255, 1.0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 1);
        margin: auto;
        width: 700px;
        height: 600px;
        animation: mover-tablero 0.6s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
}


.filas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.fila {
        margin: 0px;
        padding: 0px;
        display: flex;
}

.casilla {
        margin: 0px;
        width: 30px;
        height: 30px;
        background-color: blue;
}

.general {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
}


#titulo {
        color: white;
        font-size: 36px;
        font-weight: 400;
        font-family: 'Modak';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
}

#titulo p {
        margin: 0px;
}

.titulo-arriba {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
}

.palabra1 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 0.6s;
}

.palabra2 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 1.2s;
}

.palabra3 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 2.2s;
        font-size: 50px;
}

.boton{
        height: 60px;
        width: 60px;
}

.botones {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.botones>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
}

@keyframes mover-palabra{
        0% {
                transform: translate(0%, -9000%);
                opacity: 100%;
        }

        95%{
                opacity: 100%;
                transform: translate(0%, 9%);
        }

        100% {
                opacity: 1;
                transform: translate(0%, 0%);
                opacity: 100%;
        }
}

@keyframes mover-fondo {
        0% {
                background-position: 0% 0%;
        }

        100% {
                background-position: 100% 0%;
        }
}

@keyframes mover-tablero {
        0% {
                transform: translate(0%, -450%);
        }

        85% {
                transform: translate(0%, 7%);
        }

        100% {
                transform: translate(0%, 0%);
        }
}