@font-face {
        font-family: 'Torus';
        src: url('../assets/fonts/Torus\ Regular.otf');
}

* {
        box-sizing: border-box;
}

body {
        background-color: #efcd0e;
        background-size: 10%;
        margin: 0px;
        overflow: hidden;
}

#patron-estrellas {
        margin: 0px;
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/estrellas.svg');
        position: absolute;
        background-size: 10%;
        opacity: 30%;
        animation: mover-fondo 90s linear infinite;
        z-index: -1;
}

#tablero {
        background: rgba(255, 255, 255, 1.0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 1);
        margin: auto;
        width: 700px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-450%, 0);
}

#tablero.entrar{
        animation: mover-tablero 0.6s forwards;
}


.filas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.fila {
        margin: 0px;
        padding: 0px;
        display: flex;
}

.casilla {
        margin: 0px;
        width: 30px;
        height: 30px;
        padding: 0px;
        background-color: blue;
}

.general {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
}

#titulo {
        color: white;
        font-size: 36px;
        font-weight: 400;
        font-family: 'Modak';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        min-height: 100%;
        overflow: hidden;
}

#titulo.salir {
        animation: salir-titulo 1s forwards;
}

#titulo.salir-izquierda{
        animation: salir-titulo-izquierda 1s forwards;
}

#titulo.entrar-izquierda{
        animation: entrar-titulo-izquierda 1s forwards;
}


#titulo p {
        margin: 0px;
}

.titulo-arriba {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
}

.palabra1 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 0.6s;
}

.palabra2 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 1.2s;
}

.palabra3 {
        opacity: 0%;
        animation: mover-palabra 0.6s forwards 2.2s;
        font-size: 50px;
}

.boton {
        height: 60px;
        width: 60px;
}

.botones {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.botones>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
}

.cuerpo-horizontal {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cuerpo_horizontal.png');
        background-size: cover;
}

.cuerpo-vertical {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cuerpo_vertical.png');
        background-size: cover;
}

.cabeza-derecha {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cabeza_derecha.png');
        background-size: cover;
}

.cabeza-izquierda {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cabeza_izquierda.png');
        background-size: cover;
}

.cabeza-arriba {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cabeza_arriba.png');
        background-size: cover;
}

.cabeza-abajo {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cabeza_abajo.png');
        background-size: cover;
}

.vacio{
        background-image: none;
}

.cola {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/cola.png');
        background-size: cover;
}

.estrella {
        height: 100%;
        width: 100%;
        background-image: url('../assets/img/estrella.svg');
        background-size: cover;
}

.botones-titulo{
        margin-top: 80px;
        display: flex;
        gap: 30px;
        animation: entrar-botones-titulo 4s ease-in-out;
}

.boton-titulo{
        cursor: pointer;
        background-color: white;
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        font-size: 20px;
}

.boton-jugar{
        background-color: #141D73;
        color: white;
}

#contenedor-tabla-puntuaciones{
        width: 80%;
        height: 100%;
        overflow-y: scroll;
}

#tabla-puntuaciones{
        width: 100%;
        border-spacing: 0 3px;
        font-family: 'Torus';
}

#tabla-puntuaciones tr{
        margin-top: 5px;
        border: 7px solid white;
        border-radius: 10px;
}

#tabla-puntuaciones td:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 6px 5px;
}

#tabla-puntuaciones td:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
}

#tabla-puntuaciones td{
        margin: 0;
        background-color: #141e7339;
        text-align: center;
}

#puntuaciones{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(400%, -50%);
        width: 700px;
        height: 600px;
        background-color: white;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
}

#puntuaciones h1{
        font-family: 'Torus';
        font-size: 48px;
        font-weight: 100;
        text-align: center;
}

#puntuaciones.entrar{
        animation: entrar-puntuaciones 1s forwards;
}

#puntuaciones.salir{
        animation: salir-puntuaciones 1s forwards;
}

@keyframes entrar-puntuaciones{
        0% {
                transform: translate(400%, -50%);
        }

        100% {
                transform: translate(-50%, -50%);
        }
}

@keyframes salir-puntuaciones{
        0% {
                transform: translate(-50%, -50%);
        }

        100% {
                transform: translate(400%, -50%);
        }
}

@keyframes entrar-botones-titulo {
        0% {
                transform: translate(0%, 9000%);
        }

        100% {
                transform: translate(0%, 0%);
        }
}

@keyframes salir-titulo {
        0% {
                transform: translate(-43%, -50%);
        }
        100% {
                transform: translate(400%, -50%);
        }
}

@keyframes salir-titulo-izquierda {
        0% {
                transform: translate(-57%, -50%);
        }
        100% {
                transform: translate(-400%, -50%);
        }
}

@keyframes entrar-titulo-izquierda{
        0% {
                transform: translate(-400%, -50%);
        }
        100% {
                transform: translate(-57%, -50%);
        }
}

@keyframes mover-palabra {
        0% {
                transform: translate(0%, -9000%);
                opacity: 100%;
        }

        95% {
                opacity: 100%;
                transform: translate(0%, 9%);
        }

        100% {
                opacity: 1;
                transform: translate(0%, 0%);
                opacity: 100%;
        }
}

@keyframes mover-fondo {
        0% {
                background-position: 0% 0%;
        }

        100% {
                background-position: 100% 0%;
        }
}

@keyframes mover-tablero {
        0% {
                transform: translate(-450%, 0%);
        }

        85% {
                transform: translate(7%, 0%);
        }

        100% {
                transform: translate(0%, 0%);
        }
}