@font-face {
    font-family: 'Torus';
    src: url('../assets/fonts/Torus\ Regular.otf');
}

* {
    box-sizing: border-box;
}

html,
body {
    touch-action: manipulation;
    overscroll-behavior: contain;
}


body {
    background-color: #efcd0e;
    background-size: 10%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

#patron-estrellas {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/estrellas.svg');
    position: absolute;
    background-size: 10%;
    opacity: 30%;
    animation: mover-fondo 90s linear infinite;
    z-index: -1;
}

#ventana-gameover {
    font-family: 'Torus';
    background: rgba(255, 255, 255, 1.0);
    border-radius: 16px;
    position: absolute;
    padding: 20px;
    transform: translate(0%, -500%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#ventana-gameover.entrar {
    animation: entrar-gameover 0.6s forwards;
}

#ventana-gameover.salir {
    animation: salir-gameover 0.6s forwards;
}

#boton-volver-form {
    display: none;
    background-color: #efcd0e;
}

#botones-gameover {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

#botones-gameover button {
    font-family: 'Torus';
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 40px;
    border: none;
}

#boton-enviado {
    cursor: not-allowed;
    background-color: grey;
    font-size: 13px !important;
    color: white;
    display: none;
}

#boton-enviar {
    background-color: #141D73;
    color: white;
}

#formulario-puntuacion {
    display: flex;
    flex-direction: column;
}

#ventana-gameover h1 {
    text-align: center;
}

#formulario-puntuacion label {
    font-size: 13px;
    margin-bottom: 4px;
    color: grey;
}

#formulario-puntuacion input {
    font-family: 'Torus';
    width: 300px;
    font-size: 18px;
    height: 33px;
}

.centrar-titulo{
    flex-grow: 1;
}

.titulo-tablero{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.titulo-div{
    display: flex;
    align-items: center;
}

.botones-tablero{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boton-volver-tablero{
    font-family: 'Torus';
    margin-right: 30%;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #efcd0e;
    font-size: 20px;
}

.boton-volver-tablero-movil{
    display: none;
}

#tablero {
    font-family: 'Torus';
    background: rgba(255, 255, 255, 1.0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    margin: auto;
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-450%, 0);
}

#tablero>h1 {
    margin-bottom: 0;
}

#tablero.entrar {
    animation: mover-tablero 0.6s forwards;
}

#tablero.salir {
    animation: salir-tablero 1s forwards;
}


.filas {
    width: 510px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.fila {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.casilla {
    margin: 0px;
    aspect-ratio: 1;
    width: 5.88235294118%;
    padding: 0px;
    background-color: blue;
}

.general {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#titulo {
    color: white;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Modak';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#titulo.salir {
    animation: salir-titulo 1s forwards;
}

#titulo.salir-izquierda {
    animation: salir-titulo-izquierda 1s forwards;
}

#titulo.entrar-izquierda {
    animation: entrar-titulo-izquierda 1s forwards;
}

#titulo.entrar {
    animation: entrar-titulo 1s forwards;
}


#titulo p {
    margin: 0px;
}

.titulo-arriba {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.palabra1 {
    opacity: 0%;
    animation: mover-palabra 0.6s forwards 0.6s;
}

.palabra2 {
    opacity: 0%;
    animation: mover-palabra 0.6s forwards 1.2s;
}

.palabra3 {
    opacity: 0%;
    animation: mover-palabra 0.6s forwards 2.2s;
    font-size: 50px;
}

.boton {
    height: 100px;
    width: 100px;
}

.botones-movil {
    display: none;
}

.cuerpo-horizontal {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cuerpo_horizontal.png');
    background-size: cover;
}

.cuerpo-vertical {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cuerpo_vertical.png');
    background-size: cover;
}

.cabeza-derecha {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cabeza_derecha.png');
    background-size: cover;
}

.cabeza-izquierda {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cabeza_izquierda.png');
    background-size: cover;
}

.cabeza-arriba {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cabeza_arriba.png');
    background-size: cover;
}

.cabeza-abajo {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cabeza_abajo.png');
    background-size: cover;
}

.vacio {
    background-image: none;
}

.cola-derecha {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cola-derecha.png');
    background-size: cover;
}

.cola-izquierda {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cola-izquierda.png');
    background-size: cover;
}

.cola-abajo {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cola-abajo.png');
    background-size: cover;
}

.cola-arriba {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cola-arriba.png');
    background-size: cover;
}

.giro-arriba-derecha {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/giro_arriba_derecha.png');
    background-size: cover;
}

.giro-abajo-derecha {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/giro_abajo_derecha.png');
    background-size: cover;
}

.giro-arriba-izquierda {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/giro_arriba_izquierda.png');
    background-size: cover;
}

.giro-abajo-izquierda {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/giro_abajo_izquierda.png');
    background-size: cover;
}

.estrella {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/estrella.svg');
    background-size: cover;
}

.botones-titulo {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    animation: entrar-botones-titulo 4s ease-in-out;
}

.boton-titulo {
    cursor: pointer;
    background-color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}

.boton-jugar {
    background-color: #141D73;
    color: white;
}

.titulo-puntuaciones {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin: 32.16px;
}

.titulo-puntuaciones h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.boton-volver {
    font-family: 'Torus';
    margin-top: 14px;
    margin-left: 50px;
    margin-right: auto;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #efcd0e;
    font-size: 20px;
}

.boton-volver-movil {
    display: none;
    margin-right: auto;
    font-size: 50px;
    border: none;
    background-color: white;
    margin-left: 16px;
    padding-bottom: 13px;
    font-family: 'Torus';
    margin-top: 4px;
}

.boton-volver-tablero-movil {
    display: none;
    margin-right: auto;
    font-size: 50px;
    border: none;
    background-color: white;
    margin-left: 16px;
    padding-bottom: 13px;
    font-family: 'Torus';
    margin-top: 4px;
}

#contenedor-tabla-puntuaciones {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

#tabla-puntuaciones {
    width: 100%;
    border-spacing: 0 3px;
}

#tabla-puntuaciones tr {
    margin-top: 5px;
    border: 7px solid white;
    border-radius: 10px;
}

#tabla-puntuaciones tr:first-child {
    background-color: #efcd0e4c;
}

#tabla-puntuaciones td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 6px 5px;
}

#tabla-puntuaciones td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#tabla-puntuaciones td {
    margin: 0;
    background-color: #141e7339;
    text-align: center;
}

#puntuaciones {
    font-family: 'Torus';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(400%, -50%);
    width: 700px;
    max-width: 100vw;
    height: 600px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#puntuaciones h1 {
    font-family: 'Torus';
    font-size: 48px;
    font-weight: 100;
    text-align: center;
}

#puntuaciones.entrar {
    animation: entrar-puntuaciones 1s forwards;
}

#puntuaciones.salir {
    animation: salir-puntuaciones 1s forwards;
}

@keyframes entrar-puntuaciones {
    0% {
        transform: translate(400%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes salir-puntuaciones {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(400%, -50%);
    }
}

@keyframes entrar-gameover {
    0% {
        transform: translate(0%, -500%);
    }

    85% {
        transform: translate(0%, 5%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes salir-gameover {
    0% {
        transform: translate(0%, 0%);
    }

    15% {
        transform: translate(0%, 5%);
    }

    100% {
        transform: translate(0%, -500%);
    }
}

@keyframes entrar-botones-titulo {
    0% {
        transform: translate(0%, 9000%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes salir-titulo {
    0% {
        transform: translate(-43%, -50%);
    }

    100% {
        transform: translate(400%, -50%);
    }
}

@keyframes salir-titulo-izquierda {
    0% {
        transform: translate(-57%, -50%);
    }

    100% {
        transform: translate(-400%, -50%);
    }
}

@keyframes entrar-titulo-izquierda {
    0% {
        transform: translate(-400%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes entrar-titulo {
    0% {
        transform: translate(400%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes mover-palabra {
    0% {
        transform: translate(0%, -9000%);
        opacity: 100%;
    }

    95% {
        opacity: 100%;
        transform: translate(0%, 9%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}

@keyframes mover-fondo {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

@keyframes mover-tablero {
    0% {
        transform: translate(-450%, 0%);
    }

    85% {
        transform: translate(7%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes salir-tablero {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(7%, 0%);
    }

    100% {
        transform: translate(-450%, 0%);
    }
}

@media (max-width: 576px) {

    #puntuaciones {
        height: 100%;
        border-radius: 0;
    }

    #puntuaciones h1 {
        font-size: 36px;
        margin-top: 42px;
    }

    .botones-titulo {
        flex-direction: column;
    }

    .boton-volver {
        display: none;
    }

    .boton-volver-movil {
        display: block;
    }

    .boton-volver-tablero {
        display: none;
    }

    .boton-volver-tablero-movil {
        display: block;
    }

    #tablero {
        flex-direction: column;
        max-width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0;
    }

    .filas {
        margin-top: -1px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .fila {
        aspect-ratio: 17 / 1;
        width: 100vw;
    }

    .botones-movil {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .botones-movil>div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .boton {
        background-color: white;
        border: 2px solid #141D73;
        color: #141D73;
        border-radius: 8px;
        font-size: 50px;
    }
}